<div class="container" style="margin-top: 100px; margin-bottom: 100px">
  <div *ngIf="orders.length == 0">
    <h1>You didn't order any item yet!!!</h1>
    <a class="link-primary" (click)="goToProducts()" role="button">
      <img src="assets/images/arrow.png" alt="" style="max-width: 30px" />
      Go to products
    </a>
  </div>
  <div
    class="card w-75"
    *ngFor="let order of orders; let i = index"
    style="margin-top: 20px"
  >
    <div class="card-header small">
      <div class="row">
        <div class="col-md-2">
          <p>
            ORDER PLACED <br />
            {{ order.orderDate | date : "d MMMM YYYY" }}
          </p>
        </div>
        <div class="col-md-2">
          <p>
            TOTAL AMOUNT <br />
            ${{ order.orderAmount }}.00
          </p>
        </div>
        <div class="col-md-6">
          <div class="dropdown">
            SHIPPED TO
            <p
              class="dropdown-toggle"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              {{ userDetails ? userDetails.username : "" }}
            </p>
            <ul class="dropdown-menu">
              <li class="dropdown-item-text small">
                {{ userDetails ? userDetails.username : "" }} <br />
                {{ userDetails ? userDetails.address : "" }} <br />
                {{ userDetails ? userDetails.contactNo : "" }}
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">
          <p>ORDER #{{ order.orderId }}</p>
        </div>
      </div>
    </div>
    <div class="card-body">
      <b
        >{{
          order.deliveryStatus === "NOT DELIVERED"
            ? "Expected By "
            : (order.deliveryStatus | titlecase)
        }}
        {{
          order.deliveryStatus === "DELIVERED"
            ? ""
            : (order.product.expectedDelivery | date : "dd-MMM-YYYY")
        }}
        {{ order.deliveredDate | date : "dd-MMM-YYYY" }}</b
      >
      <div class="row" style="margin-top: 30px">
        <div class="col-md-3">
          <img
            [src]="order.product.productImageUrl"
            alt=""
            style="max-width: 150px"
          />
        </div>
        <div class="col-md-4">
          <p>{{ order.product.productName }}</p>
          <small>Quantity: {{ order.quantity }}</small>
          <p class="small">Paid via {{ order.paymentMode }}</p>
          <div class="d-flex justify-content-center">
            <button
              class="btn rounded-pill w-50 btn-success"
              (click)="placeOrder(order.product, i)"
            >
              Buy Again
            </button>
            <button
              class="btn rounded-pill w-50"
              style="background-color: rgb(195, 240, 127); margin-left: 20px"
              (click)="viewProduct(order.product)"
            >
              View product
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
